<div class="monster-card {{if monster.onTeam 'taken'}}">
  Name: {{one-way-input value=monster.name update=(action (mut monster.name))}}
  <br>
  Level: {{one-way-input value=monster.level update=(action (mut monster.level))}}
  <br>
  <img src={{monster.imageUrl}} />
  <br>
  Image Source: {{one-way-input value=monster.imageUrl update=(action (mut monster.imageUrl))}}
  <br>
  Price (in dollars): {{one-way-input value=monster.price update=(action (mut monster.price))}}
</div>
