<div class="monster-card {{if monster.onTeam 'taken'}}">
  Name: {{input value=monster.name}}
  <br>
  Level: {{input value=monster.level}}
  <br>
  <img src={{monster.imageUrl}} />
  <br>
  Image Source: {{input value=monster.imageUrl}}
  <br>
  Price (in dollars): {{input value=monster.price}}
</div>
