{{#each model.constructor.attributes as |attribute|}}
  {{attribute-display model=model attribute=attribute}}
{{/each}}

{{#each namedRelationships as |relationship|}}
  {{relationship.key}}:
  {{!-- TODO: Make into links --}}
  {{#if (eq relationship.kind 'belongsTo')}}
    {{get (get model relationship.key) 'mainAttribute'}}
  {{else}}
    <ul>
    {{#each (get model relationship.key) as |oneOfMany|}}
      <li>{{oneOfMany.mainAttribute}}</li>
    {{/each}}
  </ul>
  {{/if}}
  <br>
{{/each}}
