<div class="container">
  <div class="row">
    <div class="pull-right">
      {{#if session.currentUser}}
        <span {{action 'logout'}} style="cursor: pointer;">Logout {{session.currentUser.email}}</span>
      {{else}}
        {{#link-to 'login'}}Login{{/link-to}}
      {{/if}}
    </div>
    {{link-to 'Monsters' 'monsters'}}
    {{link-to 'About' 'about'}}
    {{link-to 'Authenticated' 'authenticated'}}
  </div>
  <div class="flash-messages">
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}
  </div>

  {{outlet}}
</div>
