<div class="cart">
  {{#each cart.monsters as |monster|}}
    <div class="cart-item">
      <div class="image">
        <img src={{monster.imageUrl}} />
      </div>
      <div class="details">
        {{monster.name}}
        <br>
        ${{monster.price}}
      </div>
      <button {{action 'removeItem' monster.id}}>Remove</button>
    </div>
  {{/each}}
  <button {{action 'clear'}}>Clear Cart</button>
  <hr>
  When do you need this to arrive by?
  {{pikaday-input value=arriveDate onSelection=(action (mut arriveDate)) format="MM/DD/YYYY" readonly=true}}
  <hr>
  {{let subtotal=cart.total}}
  Subtotal: ${{subtotal}}
  <br>
  {{let taxes=(mult subtotal 0.08)}}
  Taxes: ${{taxes}}
  <br>
  {{let shipping=(add 2.99 (mult 1.29 cart.monsters.length))}}
  Shipping: ${{shipping}}
  <br>
  {{let total=(add subtotal taxes shipping)}}
  Total: ${{total}}
  {{let centsTotal=(mult 100 total)}}
  {{stripe-checkout
    name="Cute Monsters Inc."
    description="Buy cute monster plushies."
    amount=centsTotal
    action="processStripeToken"
  }}
</div>
